.page-header
{
    background-image: url("arts/header.png");
    background-color: #d9edff;
    background-repeat: repeat-x;
}
body
{
    background-color: #d9edff;

}
.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6
{
    color: #0088ff;
}
a.btn
{
    display: none;
}
h1.project-name, h2.project-tagline
{
    visibility: hidden;
}